{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <div class="form-container"></div>
    <h3 class="form-title">Sign Up</h3>
        <label for="email">Email Address</label>
        <input type="email" class="form-input" id="email" name="email" placeholder="Enter your Email">
    
        <label for="password">Password</label>
        <input type="password" class="form-input" name="password" id="password" placeholder="Enter password" tabindex="2"> 
        <br>
        <button type="submit" class="form-submit">Login</button>
{% endblock %}